footer.footer
    .footer__logo
        img.footer__logo(src="/img/logo-green.png" alt="Full logo")
    ul.footer__nav
        li: a(href="#") About us
        li: a(href="#") Download Apps
        li: a(href="#") Become a guide
        li: a(href="#") Careers
        li: a(href="#") Contact us
    p.footer__copyright &copy; 2026 by Bavly Safwat. All rights reserved.